table {
  border-collapse: collapse;
}

td {
  padding: 1px;
  text-align: center;
}

.minus {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 30px;
  background-color: white;
  border: 1px solid white;
  transition: 500ms linear;
}

.plus {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 30px;
  background-color: #EFB700;
  border: 1px solid white;
  transition: 500ms linear;
}

.field {
  height: 40px;
  width: 40px;
  background-color: DodgerBlue;
  border: 1px solid white;
}

.tab { border: 1px solid DodgerBlue; }	
